{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Home</title>
</head>
<body>
    {% block content %}
        {% include 'includes/header.html' %}
            <div class="container company_nav"><br/><br/>
                <h1 class="company">ProjectLaunch</h1>
                <a href="{% url 'staff' %}">Staff</a>
                <a href="{% url 'role' %}">Role</a>
                <a href="{% url 'initiative' %}">Initiative</a>
                <a href="{% url 'capabilities' %}">Capabilities</a>
                <a href="{% url 'division' %}">Division</a>
            </div>
        {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>